{% extends 'base.html.twig' %}

{% block title %}Register Validation{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="h3 mb-3 font-weight-normal">Register Validation</h1>
        {% if error %}
            Erreur de validation email.
        {% else %}
            User validé avec succès.
        {% endif %}

    </div>
{% endblock %}
