<!-- Footer -->
    <footer id="footer" class="footer-light">
        <div class="copyright-content">
            <div class="container">
                <div class="text-center" style="text-transform: uppercase; font-weight: bold">
                    &copy; 2020 SNOWTRICKS - CIRPAN Dogukan.
                </div>
            </div>
        </div>
    </footer>
<!-- end: Footer -->