{% block stylesheets %}
    <link rel="stylesheet" href="/css/tricks.css">
{% endblock %}

{{ form_start(form) }}
{{ form_rest(form) }}
<button class="btn btn-primary">{{ button|default('Save') }}</button>
{% include 'includes/source.html.twig' %}
{{ form_end(form) }}
