{% extends 'base.html.twig' %}

{% block title 'Edit tricks' %}

{% block body %}

    <div class="container mt-4">
        <h2>Edit Tricks</h2>

        {{ form_start(form) }}
        {{ form_rest(form) }}
        <button class="btn btn-primary">Edit</button>
        {{ form_end(form) }}
    </div>

{% endblock %}