{% extends '/base/baseNew.html.twig' %}

{% block title 'Edit tricks' %}

{% form_theme form _self %}

{% block content %}

    <!-- Page title -->
    <section id="page-title" class="page-title-center" style="background-image: url(/images/wallpaper.jpg);">
        <div class="container">
            <div class="page-title">
                <h1>Create Tricks</h1>
            </div>
        </div>
    </section>
    <!-- end: Page title -->

    <!-- Page Menu -->
    <div class="page-menu menu-outline style1">
    </div>
    <!-- end: Page Menu -->

    <div class="container m-t-30 m-b-40">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-icon-holder">Create<i class="fa fa-plus"></i></button>
        {{ form_end(form) }}
    </div>

{% endblock %}