{% extends 'base.html.twig' %}

{% block title 'Edit tricks' %}

{% block body %}

    <div class="container mt-4">
        <h2>Create Tricks</h2>
        {{ include ('user/tricks/_form.html.twig', {button: 'Create'}) }}
    </div>

{% endblock %}