{% for label, messages in app.flashes %}
    {% for message in messages %}
        <div class="alert alert-{{ label }}" role="alert">
            <p>{{ message }}</p>
        </div>
    {% endfor %}
{% endfor %}