<div class="container">
    <div class="card-group mb-2">
        <div class="row">
            {% for image in tricks.images %}
                {% if image.mainImage == 1 and image.active == 1 %}
                <div class="card col-md-5">
                    <h2 class="text-center">Main Image</h2>
                    <img class="card-img-top" style="width:100%;"
                         src="/uploads/images/{{ image.image }}"
                         alt=""/>
                </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>

    <div class="card-group">
        <div class="row">
        {% for image in tricks.images %}
            {% if image.mainImage == 0 and image.active == 1 %}
                <div class="card col-md-4">
                    <img class="card-img-top" style="width:100%;"
                         src="/uploads/images/{{ image.image }}"
                         alt=""/>
                </div>
            {% endif %}
        {% endfor %}
        </div>
    </div>

</div>