{% extends 'base.html.twig' %}

{% block title 'Update password' %}

{% block content %}
    <div class="container">
        <h1>Update password</h1>

        {{ form_start(form) }}
        {{ form_widget(form) }}

        <button type="submit" class="btn btn-primary">Save</button>

        {{ form_end(form) }}

    </div>
{% endblock %}