{% extends 'base/baseNew.html.twig' %}

{% block title 'Add video' %}

{% block content %}

    <div class="container m-t-30">
        {% if app.user %}
        <!--Team members style 2-->
        <div class="row team-members team-members-card m-b-40">

            <div class="col-md-12">
                <div class="team-member">
                    <div class="col-md-12 m-t-30 m-b-25">
                        <div class="hr-title center m-b-10"><abbr>ADD VIDEO FOR YOUR TRICKS</abbr> </div>
                        {{ form_start(formVideo) }}
                        {{ form_widget(formVideo.url) }}
                        <div hidden>{{ form_widget(formVideo.active) }}</div>
                        <input type="submit" class="btn btn-default col-md-12" value="Add">
                        {{ form_end(formVideo) }}
                    </div>
                </div>
            </div>
            <!--END: Team members style 2-->
            {% endif %}
        </div>
    </div>

{% endblock %}
