{% extends 'base.html.twig' %}

{% block title tricks.name %}

{% block body %}

    <div class="container mt-4">
        <h1>Name: {{ tricks.name }}</h1>
        <p>Description: {{ tricks.content }}</p>
        <p>Category: {{ tricks.category }}</p>
    </div>

{% endblock %}