{% block body %}
    <div class="jumbotron text-center">
        <h1>Activate your account SnowTricks</h1>
        <a class="btn btn-success" style="margin-bottom: 2%" href="http://localhost:8000/register/{{ token }}">Click here to activate your account SnowTricks</a>
    </div>
{% endblock %}
